@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@700;800;900&display=swap');

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgb(0 0 0 / 16%) 0px 4px 4px;
    padding-left: 12px;
    font-weight: 600;
    font-size: 15px;
}

header:after {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 1px;
    left: 0px;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid rgb(32, 34, 37);
}

nav,
.nav {
    display: flex;
    align-items: center;
    height: 48px;
}

nav a,
.nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding-left: 20px;
    font-family: 'Whitney Bold' !important;
    height: 100%;
}

nav a:hover,
.nav a:hover {
    text-decoration: underline;
}

input {
    transition: border-color .2s ease-in-out;
}

@font-face {
    font-family: 'Whitney';
    src: url('/Fonts/Whitney/whitneymedium.otf');
}

@font-face {
    font-family: 'Whitney Italic';
    src: url('/Fonts/Whitney/whitneymediumitalic.otf');
}

@font-face {
    font-family: 'Whitney Bold';
    src: url('/Fonts/Whitney/whitneysemibold.otf');
}

@font-face {
    font-family: 'Whitney Black';
    src: url('/Fonts/Whitney/whitneybold.otf');
}

@font-face {
    font-family: 'Whitney Bold Italic';
    src: url('/Fonts/Whitney/WhitneySemiboldItalic.otf');
}

body {
    font-family: 'Whitney' !important;
}

label {
    font-family: 'Whitney Bold' !important;
}

select {
    height: 36px !important;
}

::-webkit-resizer {
    background-image: url("./resizer.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
}

::-webkit-scrollbar {
    height: 16px;
    width: 16px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(32, 34, 37);
    border: 4px solid transparent;
    border-radius: 8px;
    min-height: 40px;
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background-color: rgb(46, 51, 56);
    border: 4px solid transparent;
    border-radius: 8px;
    margin-bottom: 8px;
    background-clip: padding-box;
}

.forceFloat {
    float: right !important;
}